.App {
  font-family: sans-serif;
  text-align: center;
}

.card-list {
  display: flex;
  gap: 40px;
}

.card {
  background-color: #e6f7ff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}